<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/bootstrap.min.css" media="all" type="text/css">
    <link rel="stylesheet" href="../static/style.css" media="all" type="text/css">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../static/jquery-3.5.1.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <title>Web Vulnerabilities Scanner</title>
  </head>
  <body>
    <header class="container">
      <div class="row">
        <div class="col-md-12"><h1 class="title bg-warning"><strong>Web Vulnerabilities Scanner</strong></h1></div>
      </div>
    </header>

    <div class="container">

      <div class="border-bottom">
        <h2>Choose your options</h2>
      </div>

      <div>
        <h4>Dirsearch's Options</h4>
      </div>
      <p>Dirsearch is a mature command-line tool designed to brute force directories and files in webservers.With 6 years of growth, dirsearch
        now has become the top web content scanner. As a feature-rich tool, dirsearch gives users the opportunity to perform a complex web content
         discovering, with many vectors for the wordlist, high accuracy, impressive performance, advanced connection/request settings, modern
         brute-force techniques and nice output.
       </p>
       <form method="POST" action="/scan" class="">
         <label for="wordlistSelection">Choose your wordlist</label>
         <div class="dropdown pb-2">
           <select class="btn-group" role="group" name="usedWordlist" id="wordlistSelection">
             <option type="button" class="btn btn-secondary" value="/one.txt">Lite wordlist</option>
             <option type="button" class="btn btn-secondary" value="/filesNdirs.wordlist" selected>Medium wordlist</option>
             <option type="button" class="btn btn-secondary" value="/directory-list-lowercase-2.3-big.txt">Big wordlist</option>
           </select>
          </div>
          <div class="form-check pb-2">
              <input class="form-check-input" type="checkbox" name="dirsearchOption1" value="-r">
              <label class="form-check-label">
                Recursive ?
              </label>
           </div>
           <div class="input-group col-lg-3 pb-2">
             <input type="text" class="form-control" required="required" name="dirsearchOption2" placeholder="php,html">
             <span class="input-group-text">Extensions</span>
           </div>


          <div>
            <h10>You can find the link of Dirsearch here : <a href="https://github.com/maurosoria/dirsearch">Dirsearch</a></h10>
          </div>

        <div class="pt-3">
          <h4>Nikto's Options</h4>
        </div>
        <p>Nikto is a web server assessment tool. It is designed to find various default and insecure files, configurations and programs on any type of web server.
           Examine a web server to find potential problems and security vulnerabilities, including: Server and software misconfigurations, Default files and programs,
           Insecure files and programs, Outdated servers and programs
           Nikto is built on LibWhisker2 (by RFP) and can run on any platform which has a Perl environment.
           It supports SSL, proxies, host authentication, attack encoding and more. It can be updated automatically from the command-line,
           and supports the optional submission of updated version data back to the maintainers.
         </p>


         <label for="niktoOptions">Choose your Nikto's options</label>
           <div class="form-check">
               <input class="form-check-input" type="checkbox" name="niktoOptions1" value="123456789abcd">
               <label class="form-check-label">
                 Lite Scan
               </label>
            </div>
           <div class="form-check">
             <input class="form-check-input" type="checkbox" name="niktoOptions2" value="">
             <label class="form-check-label">
               Full Scan
             </label>
           </div>
           <div class="form-check">
             <input class="form-check-input" type="checkbox" name="niktoOptions3" value="-ssl">
             <label class="form-check-label">
               Enable SSL mode
             </label>
           </div>
           <div class="form-check">
             <input class="form-check-input" type="checkbox" name="niktoOptions4" value="-nossl">
             <label class="form-check-label">
               Disable SSL mode
             </label>
           </div>
           <div class="form-check">
             <input class="form-check-input" type="checkbox" name="niktoOptions5" value="60s">
             <label class="form-check-label">
               Maximum time for the test : 60s
             </label>
           </div>
           <div class="form-check">
             <input class="form-check-input" type="checkbox" name="niktoOptions6" value="5min">
             <label class="form-check-label">
               Maximum time for the test : 5min
             </label>
           </div>
           <div>
             <h10>You can find the link of Nikto here : <a href="https://github.com/sullo/nikto">Nikto</a></h10>
           </div>

        <div class="pt-3">
          <h4>Wapiti's Options</h4>
        </div>
        <p>Wapiti allows you to audit the security of your web applications.It performs "black-box" scans, i.e. it does not study the source code of
          the application but will scans the webpages of the deployed webapp, looking for scripts and forms where it can inject data. Once it gets this list,
          Wapiti acts like a fuzzer, injecting payloads to see if a script is vulnerable.
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
          Wapiti's Options
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose the modules for Wapiti's scan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="wapitiOption1" value="blindsql">
                  <label class="form-check-label">blindsql</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="wapitiOption2" value="exec">
                  <label class="form-check-label">exec</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="wapitiOption3" value="file">
                  <label class="form-check-label">file</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="wapitiOption4" value="xss">
                  <label class="form-check-label">xss</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="wapitiOption5" value="sql">
                  <label class="form-check-label">sql</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="wapitiOption6" value="ssrf">
                  <label class="form-check-label">ssrf</label>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div>
        <div>
          <h10>You can find the link of Wapiti here : <a href="https://github.com/wapiti-scanner/wapiti">Wapiti</a></h10>
        </div>

          <h3 class="border-bottom">Launch The Scan</h3>
          <div class="row justify-content-center align-items-center">
              <div class="form-group">
                  <label for="url">URL to test</label>
                  <input type="text" class="form-control" placeholder="http://vuln.com" name="testedURL">
              </div>
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Scan</button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
