%rebase('baseScanner.tpl')
<h2>Dirsearch's results</h2> 
http://localhost:80/DVWA/vulnerabilities/xss_d/source
  </br>http://localhost:80/DVWA/vulnerabilities/xss_d/help
  </br>http://localhost:80/DVWA/vulnerabilities/xss_d/index.php
  </br><h2>Nikto's results</h2> 
- Nikto v2.1.6/2.1.5
  </br>+ Target Host: localhost
  </br>+ Target Port: 80
  </br>+ GET Cookie PHPSESSID created without the httponly flag
  </br>+ GET The anti-clickjacking X-Frame-Options header is not present.
  </br>+ GET The X-XSS-Protection header is not defined. This header can hint to the user agent to protect against some forms of XSS
  </br>+ GET The X-Content-Type-Options header is not set. This could allow the user agent to render the content of the site in a different fashion to the MIME type
  </br>+ OPTIONS Allowed HTTP Methods: HEAD, GET, POST, OPTIONS 
  </br><h2>Wapiti's results</h2> 
********************************************************************************
  </br>                     Wapiti 3.0.3 - wapiti.sourceforge.io
  </br>   Rapport pour http://localhost/DVWA/vulnerabilities/xss_d/?default=French
  </br>                Date du scan : Sun, 13 Dec 2020 13:59:23 +0000
  </br>                          Portée de ce scan : folder
  </br>********************************************************************************
  </br>
  </br>Résumé des vulnérabilités :
  </br>---------------------------
  </br>                                                            Injection SQL :   0
  </br>                                                 Injection SQL en aveugle :   0
  </br>                                                   Divulgation de fichier :   0
  </br>                                                     Cross Site Scripting :   0
  </br>                                                           Injection CRLF :   0
  </br>                                                   Exécution de commandes :   0
  </br>                                                Contournement de htaccess :   0
  </br>                                                      Copie de sauvegarde :   0
  </br>                                        Fichier potentiellement dangereux :   0
  </br>                                              Server Side Request Forgery :   0
  </br>                                                            Open Redirect :   0
  </br>                                                                      XXE :   0
  </br>********************************************************************************
  </br>
  </br>Résumé des anomalies :
  </br>----------------------
  </br>                                                Erreur interne au serveur :   0
  </br>                                       Consommation anormale de ressource :   0
  </br>********************************************************************************
  </br>
  </div> 
 </body> 
</html>