%rebase('baseScanner.tpl')
<h2>Dirsearch's results</h2> 
http://icehw.net:80/images
  </br>http://icehw.net:80/css
  </br>http://icehw.net:80/news
  </br>http://icehw.net:80/search
  </br>http://icehw.net:80/javascript
  </br>http://icehw.net:80/error
  </br>http://icehw.net:80/404
  </br>http://icehw.net:80/index
  </br>http://icehw.net:80/article
  </br>http://icehw.net:80/print
  </br>http://icehw.net:80/about
  </br>http://icehw.net:80/error_log
  </br>http://icehw.net:80/phpmyadmin
  </br>http://icehw.net:80/search.php
  </br>http://icehw.net:80/robots.txt
  </br>http://icehw.net:80/favicon.ico
  </br>http://icehw.net:80/index.php
  </br>http://icehw.net:80/error.php
  </br>http://icehw.net:80/about.php
  </br>http://icehw.net:80/news.php
  </br>http://icehw.net:80/article.php
  </br>http://icehw.net:80/404.shtml
  </br>http://icehw.net:80/print.php
  </br>http://icehw.net:80/images/
  </br>http://icehw.net:80/css/
  </br>http://icehw.net:80/search/
  </br>http://icehw.net:80/error/
  </br>http://icehw.net:80/images/banners/sponsors/
  </br>http://icehw.net:80/review/hd212/
  </br>http://icehw.net:80/review/ed_glasses/
  </br>http://icehw.net:80/search.php/
  </br>http://icehw.net:80/article/vfd_mount/
  </br>http://icehw.net:80/error.php/
  </br>http://icehw.net:80/review/mx212/
  </br>http://icehw.net:80/review/silent/
  </br>http://icehw.net:80/review/speedup/
  </br>http://icehw.net:80/images/banners/
  </br>http://icehw.net:80/review/digiana/
  </br>http://icehw.net:80/print.php/
  </br>http://icehw.net:80/print/
  </br>http://icehw.net:80/article/
  </br>http://icehw.net:80/review/
  </br>http://icehw.net:80/news.php/
  </br>http://icehw.net:80/review/index.php/
  </br>http://icehw.net:80/about/
  </br>http://icehw.net:80/about.php/
  </br>http://icehw.net:80/article/index/
  </br>http://icehw.net:80/article/index.php/
  </br>http://icehw.net:80/index/
  </br>http://icehw.net:80/index.php/
  </br>http://icehw.net:80/review/index/
  </br>http://icehw.net:80/phpmyadmin/js/messages.php/
  </br>http://icehw.net:80/phpmyadmin/navigation.php/
  </br>http://icehw.net:80/phpmyadmin/main.php/
  </br>http://icehw.net:80/phpmyadmin/phpinfo.php/
  </br>http://icehw.net:80/phpmyadmin/import.php/
  </br>http://icehw.net:80/phpmyadmin/themes.php/
  </br>http://icehw.net:80/phpmyadmin/index.php/
  </br>http://icehw.net:80/phpmyadmin/
  </br>http://icehw.net:80/phpmyadmin/sql.php/
  </br>http://icehw.net:80/phpmyadmin/export.php/
  </br>http://icehw.net:80/phpmyadmin/setup/
  </br>http://icehw.net:80/css/error.css
  </br>http://icehw.net:80/css/henry_style.css
  </br>http://icehw.net:80/article.php/
  </br>http://icehw.net:80/css/main.css
  </br>http://icehw.net:80/css/print.css
  </br>http://icehw.net:80/phpmyadmin/js/cross_framing_protection.js
  </br>http://icehw.net:80/phpmyadmin/js/update-location.js
  </br>http://icehw.net:80/track.php
  </br>http://icehw.net:80/mates.php
  </br>http://icehw.net:80/phpmyadmin/js/jquery/jquery.qtip-1.0.0.min.js
  </br>http://icehw.net:80/phpmyadmin/js/messages.php
  </br>http://icehw.net:80/phpmyadmin/main.php
  </br>http://icehw.net:80/phpmyadmin/url.php
  </br>http://icehw.net:80/review/speedup/task.JPG
  </br>http://icehw.net:80/phpmyadmin/js/functions.js
  </br>http://icehw.net:80/phpmyadmin/license.php
  </br>http://icehw.net:80/team.php
  </br>http://icehw.net:80/review/digiana/Thumbs.db
  </br>http://icehw.net:80/phpmyadmin/themes/original/layout.inc.php
  </br>http://icehw.net:80/phpmyadmin/themes/pmahomme/layout.inc.php
  </br>http://icehw.net:80/article/index.php
  </br>http://icehw.net:80/review/index.php
  </br>http://icehw.net:80/review.php
  </br>http://icehw.net:80/phpmyadmin/sql.php
  </br>http://icehw.net:80/review/ed_glasses/stereotest_tab.JPG
  </br>http://icehw.net:80/review/ed_glasses/stereo_tab.JPG
  </br>http://icehw.net:80/phpmyadmin/themes.php
  </br>http://icehw.net:80/phpmyadmin/export.php
  </br>http://icehw.net:80/phpmyadmin/changelog.php
  </br>http://icehw.net:80/phpmyadmin/index.php
  </br>http://icehw.net:80/phpmyadmin/import.php
  </br>http://icehw.net:80/article/vfd_mount/vfd_size.GIF
  </br>http://icehw.net:80/review/ed_glasses/testapp.JPG
  </br>http://icehw.net:80/phpmyadmin/js/jquery/jquery-1.4.4.js
  </br>http://icehw.net:80/phpmyadmin/Documentation.html
  </br>http://icehw.net:80/review/mx212/lcdc.mpg
  </br><h2>Nikto's results</h2> 
- Nikto v2.1.6/2.1.5
  </br>+ Target Host: icehw.net
  </br>+ Target Port: 80
  </br>+ GET Retrieved x-powered-by header: PHP/5.3.10-1ubuntu3.4
  </br>+ GET The anti-clickjacking X-Frame-Options header is not present.
  </br>+ GET The X-XSS-Protection header is not defined. This header can hint to the user agent to protect against some forms of XSS
  </br>+ GET The X-Content-Type-Options header is not set. This could allow the user agent to render the content of the site in a different fashion to the MIME type
  </br>+ GET Server may leak inodes via ETags, header found with file /robots.txt, inode: 549613, size: 0, mtime: Tue Aug 11 19:55:55 2009
  </br>+ HEAD Apache/2.2.22 appears to be outdated (current is at least Apache/2.4.37). Apache 2.2.34 is the EOL for the 2.x branch.
  </br>+ GET Uncommon header 'tcn' found, with contents: list
  </br>+ GET Apache mod_negotiation is enabled with MultiViews, which allows attackers to easily brute force file names. See http://www.wisec.it/sectou.php?id=4698ebdc59d15. The following alternatives for 'index' were found: index.php
  </br>+ KYAZIYSI Web Server returns a valid response with junk HTTP methods, this may cause false positives.
  </br>+ DEBUG DEBUG HTTP verb may show server debugging information. See http://msdn.microsoft.com/en-us/library/e8z01xdh%28VS.80%29.aspx for details.
  </br>