%rebase('base.tpl')
********************************************************************************
</br>                     Wapiti 3.0.3 - wapiti.sourceforge.io
</br>                Rapport pour http://192.168.1.5/SiteBootstrap/
</br>                Date du scan : Mon, 07 Dec 2020 20:29:19 +0000
</br>                          Portée de ce scan : folder
</br>********************************************************************************
</br>
</br>Résumé des vulnérabilités :
</br>---------------------------
</br>                                                            Injection SQL :   0
</br>                                                 Injection SQL en aveugle :   0
</br>                                                   Divulgation de fichier :   0
</br>                                                     Cross Site Scripting :   0
</br>                                                           Injection CRLF :   0
</br>                                                   Exécution de commandes :   0
</br>                                                Contournement de htaccess :   0
</br>                                                      Copie de sauvegarde :   0
</br>                                        Fichier potentiellement dangereux :   0
</br>                                              Server Side Request Forgery :   0
</br>                                                            Open Redirect :   0
</br>                                                                      XXE :   0
</br>********************************************************************************
</br>
</br>Résumé des anomalies :
</br>----------------------
</br>                                                Erreur interne au serveur :   0
</br>                                       Consommation anormale de ressource :   0
</br>********************************************************************************
</br> </body> 
</html